/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1;  
  font-family: Helvetica, sans-serif; 
  margin:10px;
}

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1 {
  font-size: 2em;
   
  color: #333; }

table {
  border-collapse: separate;
  border-spacing: 2px; 
  padding-bottom: 30px;
}

td, th {
  padding: 15px;
  border: 1px solid #bbb;
  font-size: 14px;
  text-align: center; }

button {
  background-color: red; }


.button1 {
  background-color: rgb(197, 218, 81); 
  color: green;

}
.button2 {
  background-color: #4CAF50; }

.button3 {
  background-color: white;
  border-radius: 35%;
} 
.button3:hover {
  background-color: rgb(130, 231, 130);
 
}


.insert{
  position: center; 
  padding-top: 30px;
  padding-left: 400px;
}
.insert h1 {
  color: red; 
  padding-bottom: 30px;
}

.search {
  padding:20px;
}
.search h1 {
  color: blue; 
  font-size: 2em;
  font-style: italic;
   
}
.left-container{
  float: left;
  padding-top: 30px;
  box-sizing: border-box;
}
.right-container{
  float: right;
  padding-top: 30px;
  box-sizing: border-box;

}
.movie-list {
  font-size: 14px;

}
form{

  padding-bottom: 30px; ;
}

p {
  padding-top: 10px;
  padding-bottom:10px
}
h2 {
  color: blue; 
padding-left:400px ;}
h4{

  width: 200px;
  height: 25px;
  font-size: 20px;
  font-weight: bold;

  color: aliceblue;
  animation-name: example;
  animation-duration: 4s;
  animation-iteration-count: infinite;
   
}

@keyframes example {
  from {background-color: rgb(19, 184, 235);}
  to {background-color: rgb(176, 233, 176);}
}


.home-page{
  padding-left: 525px;
  padding-top: 50px;
}
.home-page h1{
  font-weight: bolder;
  color:gold;
  font-size: 75px;
}

.home-page p{
  padding-left: 60px;
  color:rgb(110, 110, 226);
  padding-bottom: 20px;
}


 
.show{
  background-image: url("choice.jpg");
  height: 300px;
  padding-top: 20px;

  background-size: auto;
  background-repeat: no-repeat;
  background-position-x: center;
}
.show .button1{
  background-color: red; 
  color:white;
  margin-left:600px;
  
}
.show .button2{
  background-color: blue; 
  color:white;
}
.show .form1 {
  display:inline-flex;
  box-sizing: border-box;
  margin-right:80px;
  padding-top: 145px;
  
 

}